{% extends base %}
{% block preamble %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Imdb Graphs with Bokeh</title>
    <link rel="stylesheet" href="main/static/style.css">
    <link rel="stylesheet" href="main/static/bootstrap.min.css">
</head>
<body>
    <div class="area"></div><nav class="main-menu">
            <ul>
                <li>
                    <a href="http://localhost:5001/main">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Main
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="http://localhost:5002/all_movies">
                        <i class="fa fa-film fa-2x"></i>
                        <span class="nav-text">
                            All Movies
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="http://localhost:5002/piecharts">
                       <i class="fa fa-pie-chart fa-2x"></i>
                        <span class="nav-text">
                            Pie Charts
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="http://localhost:5002/ratings_with_genres">
                       <i class="fa fa-bar-chart fa-2x"></i>
                        <span class="nav-text">
                            Ratings with Genres & Types
                        </span>
                    </a>

                </li>
                <li>
                    <a href="http://localhost:5002/ratings_with_years">
                        <i class="fa fa-signal fa-2x"></i>
                        <span class="nav-text">
                            Ratings with Years
                        </span>
                    </a>
                </li>
                <li>
                    <a href="http://localhost:5002/line_charts">
                        <i class="fa fa-line-chart fa-2x"></i>
                        <span class="nav-text">
                           Line Charts
                        </span>
                    </a>
                </li>
                <li>
                   <a href="http://localhost:5002/stack">
                       <i class="fa fa-area-chart fa-2x"></i>
                        <span class="nav-text">
                            Genres, Years Stack
                        </span>
                    </a>
                </li>
                <li>
                   <a href="http://localhost:5002/directors">
                        <i class="fa fa-table fa-2x"></i>
                        <span class="nav-text">
                            Directors
                        </span>
                    </a>
                </li>
                <li>
                    <a href="http://localhost:5002/tv_series">
                       <i class="fa fa-television fa-2x"></i>
                        <span class="nav-text">
                            TV Series
                        </span>
                    </a>
                </li>
                <li>
                    <a href="http://localhost:5002/heatmaps">
                       <i class="fa fa-square fa-2x"></i>
                        <span class="nav-text">
                            Heatmaps
                        </span>
                    </a>
                </li>
                <li>
                    <a href="http://localhost:5002/circles">
                       <i class="fa fa-circle fa-2x"></i>
                        <span class="nav-text">
                            Circles (Genres & Types)
                        </span>
                    </a>
                </li>
            </ul>

        </nav>
    <main role="main">
      <main class="mcw">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Getting Started</h1>
          <p>Welcome to your personal IMDB Graphs.First upload your .csv file and after you could chose graph type from left-menu. </p>
            <p>If you dont chose any file or wrong file you could still use script with my IMDB ratings which is already uploaded.</p>
          <p>{{ embed(roots.fileinput) }} {{ embed(roots.error_div) }}</p>
        </div>
      </div>
          <br><br>
          <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>Where is my ratings file?</h2>
            <p>Your ratings file is here : Imdb > Your Profile > Export</p>
              <p><img src="main/static/how1.png" width="300"></p>
          </div>
          <div class="col-md-4">
            <h2>Any Ideas? Errors?</h2>
            <p>If you have a new graph ideas or encounter with some error please feel free to contact or pull request.</p>
            <p>Mail : angelsdemos@gmail.com </p>
              <p><a class="btn btn-secondary" href="#" role="button">Github &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Requirements</h2>
            <p>Working with bokeh 3.4, pandas, pybase64 (to decode uploaded file) and bootstrap for style.</p>
              <p>This app using 5001, 5002 port.</p>
              <p>Also you could run project folders separetly with "<i>bokeh -serve --show foldername/</i>"</p>
          </div>
        </div>
        </div>
      </main>
</body>
</html>
{% endblock %}